@import "tailwindcss";


@theme inline {
  --color-primary-1: #BB6462;
  --color-primary-2: #275171;

  --color-secondary-1: #B48E79;
  --color-secondary-2: #v;

  --color-other-1: #5A777A;
  --color-other-2: #5E91C4;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
